* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 24pt;
    margin: 20px 0 0 20px;
}

p {
    font-size: 12pt;
    margin: 20px 0 0 20px;
}

button {
    background-color: black;
    font-size: 24px;
    border: 0cm;
    padding: 12px 28px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 4px 30px 0 rgba(0, 0, 0, 0.19);
    color: white;
    margin: 20px 0 0 20px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(56, 56, 56);
}

#countdownTheorie {
    background-color: black;
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.progress-bar-container {
    width: 60%;
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    margin: 30px auto;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0%;
    transition: width 1s ease-in-out;
}