* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 24pt;
    margin: 20px 0 0 20px;
}

p {
    font-size: 12pt;
    margin: 20px 0 0 20px;
}

div {
    margin-top: 20px;
    margin-left: 20px;
}

button {
    width: 15vw;
    height: 8vh;
    min-width: fit-content;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: grey;
    border: 0px;
}

#btnMit {
    display: none;

}

#btnOhne {
    display: block;
}

#countdown {
    background-color: grey;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 20px 0;
    display: block;
}

#wochentage {
    background-color: grey;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 20px 0;
    display: none;
}

#testtyp {
    background-color: grey;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 20px 0;
}

#vorlesungscounter {
    background-color: grey;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 20px 0;
}

svg {
    margin-left: 20px;
    margin-right: 20px;
    width: 90vw;
    height: 5vh;
}

#fortschrittsbar {
    width: 90vw;
    height: 5vh;
    fill: grey;
}

#fortschritt {
    height: 5vh;
    fill: green;
}

#spielfeld {
    display: none;
    justify-content: center;
}

#blackjack {
    height: 500px;
    width: 1000px;
    border: 3px;
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    padding: 10px;
}

#warnung {
    margin-top: 10px;
    display: none;
}

#computersumme {
    margin-top: 10px;
    display: none;
}

#gewinnanzeige {
    display: none;
}

#nochmal {
    display: none;
}

@media screen and (max-width: 600px) {
    button {
        width: 25vw;
        height: 5vh;
        min-width: fit-content;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 12pt;
        font-weight: bold;
        color: white;
        background-color: grey;
        border: 3px;
        border-style: solid;
        border-color: black;
    }
}